<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tw.com.oscar.orm.mybatis.mapper.WsSystemMapper">

    <resultMap id="wsSystemResultMap" type="WsSystem">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="domain" column="DOMAIN"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="dateCreated" column="DATE_CREATED"/>
        <result property="dateLastModified" column="DATE_LAST_MODIFIED"/>
    </resultMap>

    <select id="findAllWsSystem" resultType="WsSystem" resultOrdered="true">
        SELECT ID, NAME, DOMAIN, DESCRIPTION, DATE_CREATED AS dateCreated, DATE_LAST_MODIFIED AS dateLastModified
        FROM WS_SYSTEM
    </select>

    <select id="searchWsSystemById" parameterType="long" resultType="WsSystem">
        SELECT ID, NAME, DOMAIN, DESCRIPTION, DATE_CREATED AS dateCreated, DATE_LAST_MODIFIED AS dateLastModified
        FROM WS_SYSTEM
        WHERE ID = #{id}
    </select>

    <select id="searchWsSystem" parameterType="hashmap" resultType="WsSystem">
        SELECT ID, NAME, DOMAIN, DESCRIPTION, DATE_CREATED AS dateCreated, DATE_LAST_MODIFIED AS dateLastModified
        FROM WS_SYSTEM
        WHERE 1 = 1
        <if test="name != null">
            AND NAME LIKE #{name}
        </if>
        <if test="dateCreated != null">
            AND DATE_CREATED >= #{dateCreated}
        </if>
        ORDER BY DATE_CREATED DESC
    </select>

    <select id="callWsSystemById" resultMap="wsSystemResultMap" parameterType="WsSystem"
            statementType="CALLABLE">
        {CALL PROC_NAME(#{id}, jdbcType = INTEGER, mode = IN)}
    </select>

    <insert id="insertWsSystem" parameterType="WsSystem"
            useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="long" order="BEFORE">-->
        <!--SELECT WS_SYSTEM_SEQ.NEXTVAL FROM DUAL-->
        <!--</selectKey>-->
        INSERT INTO WS_SYSTEM(NAME, DOMAIN, DESCRIPTION, DATE_CREATED)
        VALUES(#{name}, #{domain}, #{description}, #{dateCreated})
    </insert>

    <update id="updateWsSystem" parameterType="WsSystem">
        UPDATE WS_SYSTEM
        SET NAME = #{name}, DOMAIN = #{domain}, DESCRIPTION = #{description}, DATE_LAST_MODIFIED = #{dateLastModified}
        WHERE ID = #{id}
    </update>

    <delete id="deleteWsSystem" parameterType="long">
        DELETE FROM WS_SYSTEM WHERE ID = #{id}
    </delete>
</mapper>