<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="tw/com/oscar/orm/mybatis/config.properties"/>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>

        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>

        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>

        <setting name="logImpl" value="SLF4J"/>
        <setting name="logPrefix" value="MyBatis"/>
        <setting name="proxyFactory" value="CGLIB"/>
    </settings>

    <typeAliases>
        <typeAlias type="tw.com.oscar.orm.hibernate.domain.Credit" alias="Credit"/>
        <package name="tw.com.oscar.orm.mybatis.domain"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="tw.com.oscar.orm.mybatis.typehandler.ExampleTypeHandler"/>
        <package name="tw.com.oscar.orm.mybatis.typehandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="driver.encoding" value="${driver.encoding}"/>
                <property name="poolMaximumActiveConnections" value="10"/>
                <property name="poolMaximumIdleConnections" value="2"/>
                <property name="poolMaximumCheckoutTime" value="20000"/>
                <property name="poolTimeToWait" value="20000"/>
            </dataSource>
        </environment>

        <environment id="production">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/jdbc/OscarDS"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource="tw/com/oscar/orm/mybatis/mapper/WsSystemMapper.xml"/>-->
        <!--<mapper resource="tw/com/oscar/orm/mybatis/mapper/AccountMapper.xml"/>-->
        <!--<mapper resource="tw/com/oscar/orm/mybatis/mapper/CreditMapper.xml"/>-->
        <package name="tw.com.oscar.orm.mybatis.mapper"/>
    </mappers>

</configuration>